<div class="container">
  <div class="container2">
    <form class="example-form">
      <mat-form-field class="example-full-width" appearance="outline">
        <mat-label>Nombre</mat-label>
        <input
          matInput
          autocomplete="nombre"
          [(ngModel)]="this.myArtist.name"
          name="username"
        />
        <mat-icon matSuffix color="primary">alternate_email</mat-icon>
      </mat-form-field>

      <mat-form-field class="ancho" appearance="outline">
        <mat-label>Descripción</mat-label>
        <textarea
          matInput
          cdkTextareaAutosize
          [(ngModel)]="this.myArtist.description"
          name="desc"
        >
        </textarea>
        <mat-icon matSuffix color="primary">comment</mat-icon>
      </mat-form-field>

      <mat-form-field class="ancho" appearance="outline">
        <mat-label>Ingrese la URL de una imagen del artista</mat-label>
        <textarea
          matInput
          cdkTextareaAutosize
          [(ngModel)]="this.myArtist.image"
          name="desc"
        >
        </textarea>
        <mat-icon matSuffix color="primary">photo</mat-icon>
      </mat-form-field>
      <mat-form-field class="ancho" appareance="outline">
        <mat-label>Categoria</mat-label>
        <mat-select [(ngModel)]="myCategorySelected" name = "category">
          <mat-option
            *ngFor="let categoria of myCategories"
            [value]="categoria"
          >
            {{ categoria.name }}
          </mat-option>
        </mat-select>

      
      </mat-form-field>

      <br />
      <br />
      <button mat-raised-button style="background-color: cadetblue; float: left;" (click)="goBack()">
        <mat-label>Regresar</mat-label>
      </button>

      <button mat-raised-button color="primary" style="float: right;" (click)="addArtist()">
        <mat-label>Agregar artista</mat-label>
        <mat-icon matSuffix>arrow_forward_ios</mat-icon>
      </button>
    </form>
  </div>
</div>
