<div class="container">
  <div class="container2">
    <form class="example-form">
      <mat-form-field class="example-full-width" appearance="outline">
        <mat-label>Usuario</mat-label>
        <input matInput [(ngModel)]="username" autocomplete="username" name = "user" />
        <mat-icon matSuffix color="primary">face</mat-icon>
      </mat-form-field>

      <mat-form-field class="example-full-width" appearance="outline">
        <mat-label>Contraseña</mat-label>
        <input
          matInput
          [(ngModel)]="password"
          name = "pass"
          [type]="hide ? 'password' : 'text'"
          autocomplete="current-password"
        />
        <mat-icon
          class="manito"
          matSuffix
          color="primary"
          (click)="hide = !hide"
          >{{ hide ? "visibility_off" : "visibility" }}</mat-icon
        >
        <mat-hint style="color: red;">{{message}}</mat-hint>
      </mat-form-field>

      <br />
      <br />
      <button mat-raised-button (click) = "login()" color="primary">
        <mat-label>Iniciar Sesión</mat-label>
        <mat-icon matSuffix>arrow_forward_ios</mat-icon>
      </button>
      <br />
      <br />
      <span class="textRegister" style="font-style: italic;"
        >¿No tienes cuenta?
        <b (click)="this.router.navigateByUrl('/register')">Regístrate</b></span
      >
    </form>
  </div>
</div>
