<div class="card">
  <mat-card class="example-card">
    <mat-card-header>
      <mat-card-title>{{ mySelectedArtist.name }}</mat-card-title>
      <mat-card-subtitle
        > Categorias:  {{ mySelectedArtist.categories.name }}</mat-card-subtitle
      >
    </mat-card-header>
    <img mat-card-image src="{{ mySelectedArtist.image }}" />
    <mat-card-content>
      <mat-form-field class="ancho" appearance="none">
        <textarea
          matInput
          cdkTextareaAutosize
          readonly="true"
          value="{{ mySelectedArtist.description }}"
        >
        </textarea>
      </mat-form-field>
    </mat-card-content>
    <mat-card-actions style="padding: 20px;">
      <button mat-raised-button style="visibility:hidden">
        Oculto
      </button>
      <button
        mat-raised-button
        style="float: right; position: unset;"
        color="primary"
        (click)="more()"
      >
      <mat-label>Ver más</mat-label>
      <mat-icon matSuffix>arrow_forward_ios</mat-icon>
      </button>
    </mat-card-actions>
  </mat-card>
</div>
