<div class="card">
  <mat-card class="example-card">
    <button
      mat-icon-button
      style="float: right;"
      color="primary"
      (click)="delete()"
    >
      <mat-icon>delete_sweep</mat-icon>
    </button>
    <mat-card-header>
      <mat-card-title>{{ mySelectedComment.user.name }}</mat-card-title>
      <mat-card-subtitle>{{
        mySelectedComment.user.username
      }}</mat-card-subtitle>
      <mat-card-subtitle>{{
        mySelectedComment.create.toLocaleString()
      }}</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <mat-form-field class="ancho" appearance="none">
        <textarea
          matInput
          cdkTextareaAutosize
          readonly="true"
          value="{{ mySelectedComment.content }}"
        >
        </textarea>
        <br />
      </mat-form-field>
    </mat-card-content>
  </mat-card>
</div>
