.center {
    padding-left: 300px;
    margin: 0 auto;
    background-color: rgb(0, 154, 250);
}

.example-card {
    max-width: 70%;
    min-width: 400px;
    margin: 5px 0px 0px 0px;
    padding-bottom: 15px;
  }

  .example-card > * {
    width: 100%;
  }

  .ancho {
    width: 100%;
  }

  .colorBack{
    background-color: rgb(178, 229, 231);
    display: inline;
    
  }

  .colorComment {
    float: right;
  }