<div class="center">
  <app-artist-profile [mySelectedArtist]="myArtist"></app-artist-profile>

  <div *ngFor="let comment of myComments">
    <app-comment-detail [mySelectedComment]="comment" [listComment] = myComments></app-comment-detail>
  </div>

  <div class="example-card">
    <mat-card>
      <mat-card-content>
        <mat-form-field class="ancho" appearance="outline">
          <mat-label> {{'COMMENT_TEXTADD'| translate}}... </mat-label>
          <textarea
            matInput
            cdkTextareaAutosize
            placeholder=""
            [(ngModel)]="myComment.content"
          >
          </textarea>
          <br />
        </mat-form-field>

        <button
          mat-raised-button
          class="colorComment"
          color="primary"
          (click)="addNewComment()"
        >
        {{'COMMENT_SEND'| translate}}
        </button>

        <button mat-raised-button class="colorBack" (click)="goBack()">
            {{'ADD_ARTIST_BACK'| translate}}
        </button>
      </mat-card-content>
    </mat-card>
  </div>
</div>
