<div class="container">
  <div class="container2">
    <form class="example-form">
      <mat-form-field class="example-full-width" appearance="outline">
        <mat-label>{{'USERNAME'| translate}}</mat-label>
        <input
          matInput
          autocomplete="username"
          [(ngModel)]="myUser.username"
          name="username"
        />
        <mat-icon matSuffix color="primary">alternate_email</mat-icon>
        <mat-hint>{{'REGISTER_USERINFO'| translate}}</mat-hint>
      </mat-form-field>

      <br />
      <br />

      <mat-form-field class="example-full-width" appearance="outline">
        <mat-label>{{'REGISTER_NAME'| translate}}</mat-label>
        <input matInput [(ngModel)]="myUser.name" name="name" />
        <mat-icon matSuffix color="primary">face</mat-icon>
        <mat-hint>{{'REGISTER_NAMEINFO'| translate}}</mat-hint>
      </mat-form-field>

      <br />
      <br />

      <mat-form-field class="example-full-width" appearance="outline">
        <mat-label>{{'PASSWORD'| translate}}</mat-label>
        <input
          matInput
          autocomplete="new-password"
          type="password"
          [(ngModel)]="passwordA"
          name="passA"
        />
        <mat-icon matSuffix color="primary">vpn_key</mat-icon>
        <mat-hint>{{'REGISTER_PASSINFO'| translate}}</mat-hint>
      </mat-form-field>

      <br />
      <br />

      <mat-form-field class="example-full-width" appearance="outline">
        <mat-label>{{'REGISTER_CONFINFO'| translate}}</mat-label>
        <input
          matInput
          autocomplete="new-password"
          type="password"
          [(ngModel)]="passwordB"
          name="passB"
        />
        <mat-icon matSuffix color="primary">vpn_key</mat-icon>
        <mat-hint>{{'REGISTER_CONFIRM'| translate}}</mat-hint>
      </mat-form-field>

      <br />
      <br />
      <button mat-raised-button color="primary" (click)="addNewUser()">
        <mat-label>{{'REGISTER_SIGNUP'| translate}}</mat-label>
        <mat-icon matSuffix>arrow_forward_ios</mat-icon>
      </button>
      <br />
      <br />
      <span class="textRegister" style="font-style: italic;"
        >{{'REGISTER_SIGNUP1'| translate}}
        <b (click)="this.router.navigateByUrl('/login')">{{'REGISTER_SIGNUP2'| translate}}</b></span
      >
    </form>
  </div>
</div>
